<html>
<body>
<div>
    <table style="width: 10%">
        <tr>
            <th>Список разработчиков:</th>
        </tr>
        {{#developer}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
            </tr>
        {{/developer}}
    </table>
</div>
</body>
</html>